.input {
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.label {
    font-size: large;
    display: block;
    margin-bottom: 2px;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}